#loginTitle{
    margin: 0 auto;
}

#loginTitle ::after {
    content: Link;
    color: red;
}
body {
    background-color: rgb(38, 35, 64);
}
.page{
    display: flex;
    margin-top: 20px;
    width: 100%;

    justify-content: space-between;
    flex-wrap: wrap;
}
.item-1{
    text-align: center;
    color: black;
    background-color: rgb(227, 220, 220);
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}
.item-2{
    text-align: center;
    color: black;
    background-color: rgb(227, 220, 220);
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    margin-left: 40px;
    width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}
.item-3{
    text-align: center;
    color: black;
    background-color: rgb(227, 220, 220);
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
    margin-right: 40px;
    width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
span{
    margin-right: 20px;
    color: white;
}
.container{
    max-width: 1500px;
    max-height: 2000px;
    margin: auto;
    height: auto;
    width: auto;
    margin-top: 40px;
    padding: 0px 40px 40px 40px;
    /*border: 2px solid white;*/
    background-color: rgb(109, 107, 107);
    /* border: 1px solid gray; */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.action{
    float: right;
    background-color: rgb(109, 107, 107);
    border-radius: 5px;
     padding: 5px 5px 5px 5px;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    top: 10px;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}
td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
}
tr:nth-child(even){
    background-color: #dddddd;
}
tr:nth-child(odd){
    background-color: gray;
    color: white;
}
#xlsx, #csv{
    padding: 6px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
#xlsx{
    background-color: darkgreen;
}
#csv{
    background-color: rgb(60, 161, 202);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(109, 107, 107);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
    
}

li{
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    
    text-decoration: none;
}

li a:hover{
    background-color: gray;
    color: black;
}

#welcomeName{
    color: white;
    font-size: medium;
    float: right;
    margin-right: 15px;
}